.adding{
    background-color: red;
    display: inline-block;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 100px;
}


.scale{
    transform: scaleY(1.5);
}

.topHolder{
    position: fixed;
    bottom: 20px;
    right: 20px;

    border: 1px solid red;
    opacity: 0;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
  
}


.topHolder.active{

    opacity: 1;
}


body{
    height: 5000px;
}